@import '../../assets/scss/variables.scss';

.searchPanel {
  display: flex;
  justify-content: center;
  background-color: $background_main-color;

  &__input {
    padding: 15px;
    width: 30rem;
    font-size: 18px;
    background: linear-gradient(to right, orange, purple);
    outline: -webkit-focus-ring-color auto 1px;
  }
}