@import '../../assets/scss/variables.scss';

.giphyList {
  display: flex;
  flex-wrap: wrap;
  background-color: $background_main-color;
  padding-top: 15px;
  height: 100%;
  padding: 3rem;
  min-height: 100vh;

  &__item {
    width: 20%;

    img {
      max-height: 200px;
      max-width: 300px;
    }
  }

  &__standby {
    height: 100vh;
    background-color: $background_main-color;

    &--searching {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $title_main-size;
      color: $font_main_color;
    }
  }
}